body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    height: 100vh;
    font-family: "Roboto", sans-serif;
}

.logo {
    font-weight: 24px;
    color: #f9faf8;
    font-weight: 800;
}

.logo-and-links {
    display: flex;
    justify-content: space-between;
}

.description {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.description-text {
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
}

.description-title {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.description-text,
.links {
    font-size: 18px;
    color: #e5e7eb;
}

.links {
    display: flex;
    gap: 30px;
}

.description-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
}

.description-subtext {
    padding: 10px 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;;
    flex: 1;
    background-color: #1f2937;
    padding: 10px 300px 80px 300px;
    gap: 80px;
}

button {
    width: 100px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 3px;
    border: none;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex: 1;
}

.info-title {
    display: flex;
    justify-content: center;
}

.illustration-images {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 200px;
}

.illustration {
    width: 200px;
    height: 200px;
}

.illustration-text {

}

.quote {
    flex: 1;
}

.signup {
    flex: 1;
}

footer {
    flex: 0;
    background-color: #1f2937;
}
